[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
"e1839a8" = {editable = true, extras = ["dev"], path = "."}
"3171ee2" = {editable = true, extras = ["dev"], path = "./../zero-play"}

[packages]
"3171ee2" = {editable = true, path = "./../zero-play"}
"e1839a8" = {editable = true, path = "."}
